.cat-card {
    transition: 0.7s;
}
.cat-card:hover {
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}
.cat-card:hover .like-favorite {
    display: block;
}
.like-favorite {
    position: absolute;
    right: 28px;
    bottom: 28px;
    width: 40px;
    height: 37px;
    background-image: url("../../Assets/Images/Vector.svg");
    cursor: pointer;
    transition: 0.4s;
    display: none;
}
.like-favorite:hover {
    background-image: url("../../Assets/Images/favorite-added.svg");
}
