.cat-card {
    transition: 0.7s;
}
.cat-card:hover {
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}
.cat-card:hover .like-favorite {
    display: block;
}
.pagination {
    margin: 20px 0 0;
    text-align: right;
}
.paginationBtn {
    margin: 0 10px;
    padding: 10px 10px;
    background-color: #1E88E5;
    border-radius: 5px;
    color: white;
}
.paginationBtn:hover {
    background: #0865ef;
}