.cat-card:hover .favorite {
    display: block;
}
.favorite {
    position: absolute;
    right: 28px;
    bottom: 28px;
    width: 40px;
    height: 37px;
    background-image: url("../../Assets/Images/Vector.svg");
    cursor: pointer;
    transition: 0.4s;
    display: none;
}
.favorite:hover {
    background-image: url("../../Assets/Images/favorite-added.svg");
}
